<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="/register">Register here</a>.</p>
  </form>
  <footer>Kalibekov Alikhan IT-2207</footer>
</body>
</html>
